.grid-container {
	border: 2px solid rebeccapurple;
	padding: .5em;
	color: black;
	padding: 40px;
}

.grid-container > div{
	margin: 2px;
 	padding: .5em;
}

#header{
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
	border: 2px solid rebeccapurple;
}

#main1{
  padding: .5em;
}

span{
	color: red;
}

#right{
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
	border: 2px solid rebeccapurple;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		  
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	#header{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	#footer{
		display: flex;
	flex-wrap: wrap;
	width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.grid-container {
		  
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	#header{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	#footer{
		display: flex;
	flex-wrap: wrap;
	width: 100%;
	}
}

.flex_container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}

.flex_container > div {
	border: 2px solid turquoise;
	margin-left: 20px;
	margin-bottom: 20px;
}

img{
	height: 385px;
	width: auto;
	
}

#ingpic{
	float: right;
}